In [2]:
#Форматирование строк

In [3]:
print("Привет " + "Маша " + str(19))

Привет Маша 19

In [6]:
print("Привет, {4}")
print("Привет, {}".format("Катя"))
print("Привет, {}! Тебе уже {} лет".format("Катя", 19))
print("Привет, {0}! {0}, тебе уже {1} лет".format("Катя", 19))
print("{var} = {value}".format(var = 'pi', value = 3.14))

Привет, {4}
Привет, Катя
Привет, Катя! Тебе уже 19 лет
Привет, Катя! Катя, тебе уже 19 лет
pi = 3.14

In [7]:
print ("col_%d" %12345)
print ("%s №%d" %("Автобус", 35))
print ("%5d" %25)
print ("%-5d" %25)
print ("pi = %f" %3.141592)
print ("pi = %.4f" %3.141592)

col_12345
Автобус №35
   25
25
pi = 3.141592
pi = 3.1416

In [8]:
from string import Template

name = "Маша"
age = 19
v = Template("Меня зовут $name. Мне $age лет.")
print(v.substitute(name=name, age=age))

Меня зовут Маша. Мне 19 лет.

In [9]:
name = "Вася"
print(f"(name)")

a = 2
b = 3
print(f"a + b = {a + b}")
print(f"{a if a > b else b}")

(name)
a + b = 5
3

In [16]:
value = 1 / 3
print(value)
print(f"{value:f}")
print(f"{value: .2f}")

print(f"{8212:c}")
print(f"{429:c}")

0.3333333333333333
0.333333
 0.33
—
ƭ

In [17]:
print(f"{15:5}")
print(f"{15:05}")
print(f"{995:-=5}")
print(f"{1234567890:_}")
print(f"{1234567890:_}".replace('_', '---'))

   15
00015
--995
1_234_567_890
1---234---567---890

In [21]:
def fun(x, y):
    print(f"{x = }, {y = }")
point = points[0]
print(point)

fun(*point)

(2, 3)
x = 2, y = 3

In [19]:
a = [1, 2, 3]
b = tuple(a)
c = list(b)
print(a)
print(b)
print(c)
print(type (a))
print(type (b))
print(type (c))

[1, 2, 3]
(1, 2, 3)
[1, 2, 3]
<class 'list'>
<class 'tuple'>
<class 'list'>

In [20]:
points = [(2, 3), (1, 4), (6, 5)]
print(points)

[(2, 3), (1, 4), (6, 5)]